/* styling for the body of the page */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}
/* styling for the textarea element */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}
/* stying for the header */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}
/* styling for the user description */
.description {
  white-space: pre-wrap;
  border: solid;
}
/* styling for the time blocks */
.time-block {
  text-align: center;
  border-radius: 15px;
}
/* row styling */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}
/* styling the hour column */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}
/* styling classes for past present and future so that they can be applied at the correct time */
.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}
/* styling the save button and save button hover */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  border: solid;
  height: 80px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
